<section class="bg-white">
    <div class="mx-auto max-w-7xl pb-24 px-6 sm:pb-32 lg:px-8 flex flex-col items-center gap-8 overflow-visible" > 
      <h2 data-aos="fade-up" class="mt-2 text-4xl font-semibold  text-center sm:text-left tracking-tight text-pretty text-cyan-900 sm:text-5xl">FAQ</h2>
        <div class="grid grid-col-1 sm:grid-cols-2 gap-24">
          <div class="mt-8">
            <p data-aos="fade-up" class="text-base/7 text-left font-semibold text-cyan-500">Für Shops</p>
            <dl data-aos="fade-up" data-aos-delay="300" class="w-full divide-y divide-gray-900/10">

                  <!-- FAQ 1 -->
                  <div data-aos="fade-right" class="py-6">
                    <dt>
                      <button
                        type="button"
                        name="faq-1"
                        aria-expanded="false"
                        class="toggle-button grid w-full grid-cols-[1fr_auto] gap-6 text-left text-gray-900 hover:text-gray-500 cursor-pointer group transition"
                      >
                        <span class="text-base/7 font-semibold">
                          Wie hilft mir Checkido bei meinem Checkout-Marketing?
                        </span>
                        <span class="ml-6 flex h-7 items-center text-cyan-500 group-hover:text-cyan-900 transition">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke-width="3" stroke="currentColor" class="mr-2 size-4  not-in-aria-expanded:rotate-180 transition">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                          </svg>
                        </span>
                      </button>
                    </dt>
                
                    <el-disclosure id="faq-1" class="overflow-hidden block height-0">
                      <div class="accordion-inner">
                      <dd class="mt-2">
                        <p class="text-base/7 text-gray-500">
                          Checkido bietet dir eine einfache technische Lösung, um in deinem Online-Shop auch nach dem Bestellabschluss Erlöse zu erzielen. Sie stellen Ihren Checkout, wir die Monetarisierung.
                        </p>
                      </dd>
                  </div>
                    </el-disclosure>
                  </div>
                
                  <!-- FAQ 2 -->
                  <div data-aos="fade-right" class="py-6">
                    <dt>
                      <button
                        type="button"
                        name="faq-2"
                        aria-expanded="false"
                        class="toggle-button grid w-full grid-cols-[1fr_auto] gap-6 text-left text-gray-900 hover:text-gray-500 cursor-pointer group transition"
                      >
                        <span class="text-base/7 font-semibold">
                          Wie funktioniert Checkido?
                        </span>
                        <span class="ml-6 flex h-7 items-center text-cyan-500 group-hover:text-cyan-900 transition">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke-width="3" stroke="currentColor" class="mr-2 size-4  not-in-aria-expanded:rotate-180 transition">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                          </svg>
                        </span>
                      </button>
                    </dt>
                
                    <el-disclosure id="faq-2" class="overflow-hidden block height-0">
                      <div class="accordion-inner">
                      <dd class="mt-2">
                        <p class="text-base/7 text-gray-500">
                          Checkido spielt, im Checkout Ihres Online-Shops, Ihrer App oder in jedem anderen Prozess, Kampagnen aus. So bieten wir Ihren Kund*innen die Möglichkeit, sich für Ihren Einkauf zu belohnen und eine weitere Kampagne zu nutzen.
                        </p>
                      </dd>
                  </div>
                    </el-disclosure>
                  </div>
                
                  <!-- FAQ 3 -->
                  <div data-aos="fade-right" class="py-6">
                    <dt>
                      <button
                        type="button"
                        name="faq-3"
                        aria-expanded="false"
                        class="toggle-button grid w-full grid-cols-[1fr_auto] gap-6 text-left text-gray-900 hover:text-gray-500 cursor-pointer group transition"
                      >
                        <span class="text-base/7 font-semibold">
                          Ist die Integration einfach?
                        </span>
                        <span class="ml-6 flex h-7 items-center text-cyan-500 group-hover:text-cyan-900 transition">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke-width="3" stroke="currentColor" class="mr-2 size-4  not-in-aria-expanded:rotate-180 transition">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                          </svg>
                        </span>
                      </button>
                    </dt>
                
                    <el-disclosure id="faq-3" class="overflow-hidden block height-0">
                      <div class="accordion-inner">
                      <dd class="mt-2">
                        <p class="text-base/7 text-gray-500">
                          Ja, es muss lediglich ein Java-Skript im Checkout eingebaut werden. Style und Ausspielung übernehmen wir.
                        </p>
                        </dd>
                      </div>
                    </el-disclosure>
                  </div>

                  <!-- FAQ 4 -->
                  <div data-aos="fade-right" class="py-6">
                    <dt>
                      <button
                        type="button"
                        name="faq-4"
                        aria-expanded="false"
                        class="toggle-button grid w-full grid-cols-[1fr_auto] gap-6 text-left text-gray-900 hover:text-gray-500 cursor-pointer group transition"
                      >
                        <span class="text-base/7 font-semibold">
                          Wie erziele ich mit Checkido in meinem Checkout zusätzliche Erlöse?
                        </span>
                        <span class="ml-6 flex h-7 items-center text-cyan-500 group-hover:text-cyan-900 transition">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke-width="3" stroke="currentColor" class="mr-2 size-4  not-in-aria-expanded:rotate-180 transition">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                          </svg>
                        </span>
                      </button>
                    </dt>
                
                    <el-disclosure id="faq-4" class="overflow-hidden block height-0">
                      <div class="accordion-inner">
                      <dd class="mt-2">
                        <p class="text-base/7 text-gray-500">
                          Für die Vermittlung weiterer Produktangebote oder Kampagnen in ihrem Checkout erhält Checkido eine Provision. Diese Provision teilen wir mit Ihnen für das bereitstellen der Fläche in Ihrem Checkout.
                        </p>
                      </dd>
                  </div>
                    </el-disclosure>
                  </div>
                
            </dl>
          </div>
          <div class="mt-8 ">
            <p data-aos="fade-up" class="text-base/7 text-left font-semibold text-cyan-500">Für Kampagnen</p>
            <dl data-aos="fade-up" data-aos-delay="300" class="w-full divide-y divide-gray-900/10">

                  <!-- FAQ 5 -->
                  <div data-aos="fade-left" class="py-6">
                      <dt>
                        <button
                          type="button"
                          name="faq-5"
                          aria-expanded="false"
                          class="toggle-button grid w-full grid-cols-[1fr_auto] gap-6 text-left text-gray-900 hover:text-gray-500 cursor-pointer group transition"
                        >
                          <span class="text-base/7 font-semibold">
                            Wie hilft mir Checkido beim Vermarkten meiner Kampagnen?
                          </span>
                          <span class="ml-6 flex h-7 items-center text-cyan-500 group-hover:text-cyan-900 transition">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke-width="3" stroke="currentColor" class="mr-2 size-4  not-in-aria-expanded:rotate-180 transition">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                          </svg>
                        </span>
                        </button>
                      </dt>
                  
                      <el-disclosure id="faq-5" class="overflow-hidden block height-0">
                        <div class="accordion-inner">
                        <dd class="mt-2">
                          <p class="text-base/7 text-gray-500">
                            Wir präsentieren Ihre Kampagne in unserem Netzwerk aus Online-Shops und Online-Anbietern.
                          </p>
                        </dd>
                    </div>
                      </el-disclosure>
                    </div>

                    <!-- FAQ 6 -->
                  <div data-aos="fade-left" class="py-6">
                      <dt>
                        <button
                          type="button"
                          name="faq-6"
                          aria-expanded="false"
                          class="toggle-button grid w-full grid-cols-[1fr_auto] gap-6 text-left text-gray-900 hover:text-gray-500 cursor-pointer group transition"
                        >
                          <span class="text-base/7 font-semibold">
                            Was kostet mich die Zusammenarbeit mit Checkido?
                          </span>
                          <span class="ml-6 flex h-7 items-center text-cyan-500 group-hover:text-cyan-900 transition">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke-width="3" stroke="currentColor" class="mr-2 size-4  not-in-aria-expanded:rotate-180 transition">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                          </svg>
                        </span>
                        </button>
                      </dt>
                  
                      <el-disclosure id="faq-6" class="overflow-hidden block height-0">
                        <div class="accordion-inner">
                        <dd class="mt-2">
                          <p class="text-base/7 text-gray-500">
                            Die Zusammenarbeit selbst kostet Sie nichts. Wir erhalten lediglich für das erfolgreiche vermitteln von Leads, Orders oder Traffic eine Provision.
                          </p>
                        </dd>
                    </div>
                      </el-disclosure>
                    </div>

                    <!-- FAQ 7 -->
                    <div data-aos="fade-left" class="py-6">
                      <dt>
                        <button
                          type="button"
                          name="faq-7"
                          aria-expanded="false"
                          class="toggle-button grid w-full grid-cols-[1fr_auto] gap-6 text-left text-gray-900 hover:text-gray-500 cursor-pointer group transition"
                        >
                          <span class="text-base/7 font-semibold">
                            Gibt es zusätzliche Kosten oder eine Mindestlaufzeit?
                          </span>
                          <span class="ml-6 flex h-7 items-center text-cyan-500 group-hover:text-cyan-900 transition">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke-width="3" stroke="currentColor" class="mr-2 size-4  not-in-aria-expanded:rotate-180 transition">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                          </svg>
                        </span>
                        </button>
                      </dt>
                  
                      <el-disclosure id="faq-7" class="overflow-hidden block height-0">
                        <div class="accordion-inner">
                        <dd class="mt-2">
                          <p class="text-base/7 text-gray-500">
                            Nein, die gibt es nicht. Die Vergütung erfolgt rein erfolgsbasiert, ohne Fix-Kosten oder Bearbeitungsgebühren.  Auch eine Mindestlaufzeit gibt es nicht.
                          </p>
                        </dd>
                    </div>
                      </el-disclosure>
                    </div>

                    <!-- FAQ 8 -->
                    <div data-aos="fade-left" class="py-6">
                      <dt>
                        <button
                          type="button"
                          name="faq-8"
                          aria-expanded="false"
                          class="toggle-button grid w-full grid-cols-[1fr_auto] gap-6 text-left text-gray-900 hover:text-gray-500 cursor-pointer group transition"
                        >
                          <span class="text-base/7 font-semibold">
                            Kann ich mit Checkido meine Zielgruppe definieren?
                          </span>
                          <span class="ml-6 flex h-7 items-center text-cyan-500 group-hover:text-cyan-900 transition">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke-width="3" stroke="currentColor" class="mr-2 size-4  not-in-aria-expanded:rotate-180 transition">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                          </svg>
                        </span>
                        </button>
                      </dt>
                  
                      <el-disclosure id="faq-8" class="overflow-hidden block height-0">
                        <div class="accordion-inner">
                        <dd class="mt-2">
                          <p class="text-base/7 text-gray-500">
                            Grundsätzlich spielen wir Ihre Kampagne über unser gesamtes Netzwerwerk von online-affinen Kund*innen aus. Eine Zielgruppeneingrenzung kann aber vorgenommen werden. Insofern wir die Freigabe zur Nutzung von Daten haben, können diese zur Zielgruppenanalyse genutzt werden.   
                          </p>
                        </dd>
                    </div>
                      </el-disclosure>
                    </div>
            </dl>
          </div>
        </div>
    </div>
</section>
<script>
  import "../scripts/accordion.js";
</script>