
---
import { Image } from "astro:assets";

import LogoColor from "../assets/logo-color.svg";
---

<header>
  <nav aria-label="Global" id="navbar" class="mx-auto mt-4 sm:mt-6 flex fixed max-w-7xl rounded-xl
  items-center justify-between px-6 py-2.5 lg:py-4
  right-6 left-6 lg:right-4 lg:left-4
  outline-1 outline-gray-900/10 bg-white z-100
  transition-transform duration-300 ease-in-out shadow-2xl shadow-black/15">
    
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5 hover:opacity-70 transition">
        <span class="sr-only">Your Company</span>
        <Image
        src={LogoColor}
        alt="logo"
        class="h-4 sm:h-6 w-auto"
        loading="eager"
        decoding="async"
        fetchpriority="high"
      />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-cyan-950 hover:text-cyan-500 cursor-pointer transition">
        <span class="sr-only">Open main menu</span>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
          <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12 lg:justify-end">
      <a href="#" class="text-sm/6 font-semibold text-cyan-950 hover:text-cyan-500 transition">Shops</a>
      <a href="#" class="text-sm/6 font-semibold text-cyan-950 hover:text-cyan-500 transition">Kampagnen</a>
      <a href="#" class="text-sm/6 font-semibold text-cyan-950 hover:text-cyan-500 transition">Kontakt</a>
    </div>
  </nav>
  <el-dialog>
    <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
      <div tabindex="0" class="fixed inset-0 focus:outline-none">
        <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5 hover:opacity-70 transition">
              <span class="sr-only">Your Company</span>
              <Image
          src={LogoColor}
          alt="logo"
          class="h-4 w-auto"
          loading="eager"
          decoding="async"
          fetchpriority="high"
        />
            </a>
            <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-cyan-950 hover:text-cyan-500 cursor-pointer transition">
              <span class="sr-only">Close menu</span>
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6">
              <div class="space-y-2 py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-cyan-950 hover:text-cyan-500 transition hover:bg-gray-50">Shops</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-cyan-950 hover:text-cyan-500 transition hover:bg-gray-50">Kampagnen</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-cyan-950 hover:text-cyan-500 transition hover:bg-gray-50">Kontakt</a>
              </div>
            </div>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>
</header>
<script>
  import "../scripts/nav-animation.js";
</script>



