---
import { Image } from "astro:assets";

import trafficImage from "../assets/traffic-image.png";
---

<section class="bg-white">
        <div class="mx-auto z-10 isolate overflow-hidden relative  px-6 pb-24 sm:pb-32 lg:overflow-visible lg:px-0">
            
            <div class="absolute h-full w-full bg-[radial-gradient(#0000001c_1px,transparent_1px)] bg-size-[20px_20px] mask-[radial-gradient(ellipse_50%_50%_at_50%_50%,#000_80%,transparent_100%)]">
            </div>
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start gap-y-10">
                  <div class="lg:col-span-1 lg:col-start-2 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-1 lg:px-8">
                    <div class="lg:pr-4">
                      <div class="lg:max-w-lg">
                        <p data-aos="fade-up" class="text-base/7 text-center sm:text-left font-semibold text-cyan-500">Performance-Marketing ohne Risiko</p>
                        <h1 data-aos="fade-up" class="mt-2 text-4xl font-semibold  text-center sm:text-left tracking-tight text-pretty text-cyan-900 sm:text-5xl">Ihr Produkt, Ihre Kunden</h1>
                        <p data-aos="fade-up" class="mt-6 text-xl/8 text-gray-700">Sie sind auf der Suche nach Leads? Präsentieren Sie Ihre Produkte, Angebote oder Kampagnen in einem aktiven, online-affinen Umfeld. Mit Checkido erreichen Sie schnell und gezielt die richtige Zielgruppe.</p>
                        <p data-aos="fade-up" class="mt-6 text-xl/8 text-gray-700">Eine erfolgsbasierte Abrechnung stellt sicher, dass Sie nur für echte Ergebnisse zahlen, – ob CPC, CPL oder CPO, ganz nach Ihren Kampagnenzielen und Möglichkeiten.</p>
                        <p data-aos="fade-up" class="mt-6 text-xl/8 text-gray-700">Ohne Setup-Gebühr, ohne Mindestvertragslaufzeit – einfach starten, und profitieren.</p>
                      </div>
                    </div>
                  </div>
                  <div class="-mt-12 -ml-12 p-12 pb-0 pl-0 pr-0 sm:pr-4 sm:pb-4 lg:sticky lg:top-4 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
                    <div data-aos="fade-right" class="mx-auto mt-10 flex justify-end max-w-2xl sm:mt-24 lg:mt-0 lg:mr-0 lg:max-w-none">
                        <div class="max-w-3xl sm:max-w-5xl lg:max-w-none">
                          <div class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-gray-900/10 ring-inset lg:-m-4 lg:rounded-2xl lg:p-4">
                            <Image
                            src={trafficImage}
                            alt=""
                            class="w-3xl max-w-none rounded-md bg-gray-900 shadow-xl ring-1 ring-gray-900/10 sm:w-228"
                            loading="eager"
                            decoding="async"
                            fetchpriority="high"
                            />
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="lg:col-span-1 lg:col-start-2 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-1 lg:px-8">
                    <div class="lg:pr-4">
                      <div class="max-w-auto text-base/7 text-gray-600 lg:max-w-lg">
                        <ul role="list" class="mt-8 lg:mt-0 space-y-8 text-gray-600">
                          <li data-aos="fade-left" class="flex gap-x-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="mt-1 size-6 flex-none text-cyan-500">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <span><strong class="font-semibold text-gray-900">Creative</strong></span>
                          </li>
                          <li data-aos="fade-left" class="flex gap-x-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="mt-1 size-6 flex-none text-cyan-500">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <span><strong class="font-semibold text-gray-900">Headline</strong></span>
                          </li>
                          <li data-aos="fade-left" class="flex gap-x-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="mt-1 size-6 flex-none text-cyan-500">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <span><strong class="font-semibold text-gray-900">Kampagneninformationen</strong></span>
                          </li>
                          <li data-aos="fade-left" class="flex gap-x-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="mt-1 size-6 flex-none text-cyan-500">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <span><strong class="font-semibold text-gray-900">Trackinglink</strong></span>
                          </li>
                        </ul>
                        <div data-aos="fade-up" class="mt-16 flex justify-center lg:justify-start gap-x-6">

                            <a href="#" type="button" class="inline-flex items-center gap-x-2 rounded-full bg-amber-400 px-6 py-2.5 font-semibold text-cyan-950 hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-400 transition-all group"
                            >
                              <span class="flex items-center">Mehr Erfahren</span>
                     
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                                <path class="transition group-hover:translate-x-1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                <path class="opacity-0 transition group-hover:opacity-100" stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                              </svg>
                            </a>
                
                        </div>
                        
                      </div>
                    </div>
                  </div>
            
            </div>
        </div>
</section>