<div class="bg-white">
    <div class="mx-auto max-w-7xl pb-24 sm:px-6 sm:pb-32 lg:px-8">
      <div data-aos="fade-up" class="relative isolate overflow-hidden bg-cyan-950 px-6 py-24 text-center shadow-2xl sm:rounded-3xl sm:px-16">
        <h2 data-aos="fade-up" class="text-4xl font-semibold tracking-tight text-balance text-white sm:text-5xl">Ihr Weg zum Umsatz</h2>
        <div class="mt-16">
            <div class="hidden lg:grid lg:grid-cols-[1fr_auto_1fr_auto_1fr] items-stretch lg:items-center gap-x-2">
              <div id="trigger1" data-aos="fade-up" data-aos-duration="500" class="pt-6 h-full">
                <div class="flow-root rounded-lg h-full bg-gray-50/7 px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center rounded-xl bg-cyan-500 p-3 shadow-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                          </svg>
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg/8 font-semibold tracking-tight text-white">Beratungsgespräch</h3>
                    <p class="mt-5 text-base/7 text-gray-300">Wir zeigen Ihnen unsere Möglichkeiten</p>
                  </div>
                </div>
              </div>

              <svg data-aos-anchor="#trigger1" data-aos-anchor-placement="center-bottom" data-aos="flip-left" data-aos-delay="400" data-aos-duration="500"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.75" stroke="currentColor" class="size-16 text-amber-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
              </svg>
              
              <div id="trigger2" data-aos="fade-up" data-aos-delay="800" data-aos-duration="500" class="pt-6 h-full">
                <div class="flow-root rounded-lg h-full bg-gray-50/7 px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center rounded-xl bg-cyan-500 p-3 shadow-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                          </svg>
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg/8 font-semibold tracking-tight text-white">Teschnische Integration </h3>
                    <p class="mt-5 text-base/7 text-gray-300">Sie erhalten ein Dokument mit genauen Anweisung zur Integration eines Java skirptes</p>
                  </div>
                </div>
              </div>

              <svg data-aos-anchor="#trigger2" data-aos-anchor-placement="center-bottom" data-aos="flip-left" data-aos-delay="1200" data-aos-duration="500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.75" stroke="currentColor" class="size-16 text-amber-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
              </svg>              

              <div data-aos="fade-up" data-aos-delay="1800" data-aos-duration="500" class="pt-6 h-full">
                <div class="flow-root rounded-lg h-full bg-gray-50/7 px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center rounded-xl bg-cyan-500 p-3 shadow-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                          </svg>
                          
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg/8 font-semibold tracking-tight text-white">Start</h3>
                    <p class="mt-5 text-base/7 text-gray-300">Wir monetarisieren Ihren Traffic ab Sekunde eins</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid lg:hidden grid-cols-1 justify-items-center items-stretch gap-x-2">
                <div id="trigger1-small" data-aos="fade-up" class="pt-6 h-full w-full">
                  <div class="flow-root rounded-lg bg-gray-50/7 px-6 pb-8">
                    <div class="-mt-6">
                      <div>
                        <span class="inline-flex items-center justify-center rounded-xl bg-cyan-500 p-3 shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                              </svg>
                        </span>
                      </div>
                      <h3 class="mt-8 text-lg/8 font-semibold tracking-tight text-white">Beratungsgespräch</h3>
                      <p class="mt-5 text-base/7 text-gray-300">Wir zeigen Ihnen unsere Möglichkeiten</p>
                    </div>
                  </div>
                </div>
  
                <svg data-aos-anchor="#trigger1-small" data-aos-anchor-placement="bottom-bottom" data-aos="flip-left"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.75" stroke="currentColor" class="size-16 text-amber-400 rotate-90">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                </svg>
                
                <div id="trigger2-small" data-aos="fade-up" class="pt-6 h-full w-full">
                  <div class="flow-root rounded-lg bg-gray-50/7 px-6 pb-8">
                    <div class="-mt-6">
                      <div>
                        <span class="inline-flex items-center justify-center rounded-xl bg-cyan-500 p-3 shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                              </svg>
                              
                        </span>
                      </div>
                      <h3 class="mt-8 text-lg/8 font-semibold tracking-tight text-white">Teschnische Integration </h3>
                      <p class="mt-5 text-base/7 text-gray-300">Sie erhalten ein Dokument mit genauen Anweisung zur Integration eines Java skirptes</p>
                    </div>
                  </div>
                </div>
  
                <svg data-aos-anchor="#trigger2-small" data-aos-anchor-placement="bottom-bottom" data-aos="flip-left" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.75" stroke="currentColor" class="size-16 text-amber-400 rotate-90">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                  </svg>             
  
                <div data-aos="fade-up" class="pt-6 h-full w-full">
                  <div class="flow-root rounded-lg  bg-gray-50/7 px-6 pb-8">
                    <div class="-mt-6">
                      <div>
                        <span class="inline-flex items-center justify-center rounded-xl bg-cyan-500 p-3 shadow-lg">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                              </svg>
                          
                        </span>
                      </div>
                      <h3 class="mt-8 text-lg/8 font-semibold tracking-tight text-white">Start</h3>
                      <p class="mt-5 text-base/7 text-gray-300">Wir monetarisieren Ihren Traffic ab Sekunde eins</p>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        <div data-aos="fade-up" class="mt-16 flex items-center justify-center gap-x-6">
                <a href="#" type="button" class="inline-flex items-center gap-x-2 rounded-full bg-amber-400 px-6 py-2.5 font-semibold text-cyan-950 hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-400 transition-all group"
                >
                  <span class="flex items-center">Beratungsgespräch anfordern</span>
         
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                    <path class="transition group-hover:translate-x-1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    <path class="opacity-0 transition group-hover:opacity-100" stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                  </svg>
                </a>
        </div>
        <svg viewBox="0 0 1024 1024" aria-hidden="true" class="absolute top-1/2 left-1/2 -z-10 size-300 -translate-x-1/2 mask-[radial-gradient(closest-side,white,transparent)] text-cyan-500">
          <circle r="512" cx="512" cy="512" fill="currentColor" fill-opacity="0.8" />
          <defs>
            <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
              <stop stop-color="#0db5cd" />
              <stop offset="1" stop-color="#0db5cd" />
            </radialGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
  